/* Dialog options */
.option {
    display: block;
    padding: 8px;
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 16px;

    border-width: 3px;
}

.option:hover {
    margin-left: 15%;
}