/* prevent scroll bars from appearing in the hacking map is too big */
body {
    overflow: hidden;
}


/* The broader hacking nodes */
.hackingarea {
    position: relative;
    /*
    height: 80vh;
    width: 100%;
    */
    height: 0;
    width: 0;
    transition: left 2s, top 2s;
}

.hackingarea svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

.hackinglink:hover {
    stroke: #a0a0a0a0;
    stroke-width: 6px;
}


/* Hacking nodes */
.hackingnode {
    /*
    width: 25%;
    */
    width: 25vw;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}

.hackingnode .holosectiontop {
    padding: 8px 32px;
    font-family: 'Rye', cursive; /* later period headline */
}

.hackingterminalarea {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.hackingterminal {
    margin: 16px;
    margin-top: 0px;
    display: inline-block;
}

.hackingterminal h3 {
    padding: 16px;
    margin: 0;
}

.hackingterminal .logo {
    transform: translate(25%, 0);
}

/* Hacking toolbar */
.hackingcycles, .hackingtool {
    margin-left: 8px;

    background: #00000000;
    border-width: 0;
    padding: 0;
}

.hackingcycles p, .hackingtool div {
    display: inline-block;
    padding: 8px;
    margin: 0px;
}

.hackingcycles > div {
    display: flex;
    align-items: center;
}

.hackingcycles h3 {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    font-family: 'Rye', cursive; /* later period headline */
    font-size: 1.7em;
}

.hackingcycles p {
    font-size: 0.75em;
}

.hackingtool h3 {
    font-family: 'UnifrakturMaguntia', cursive; /* gothic text */
    font-size: 1.5em;
    padding-top: 8px;
}

.hackingtool p, .hackingtool h3 {
    margin: 2px;
    padding: 0;
}

.hackingtool:hover {
    width: 20vw;
}

.hackingtool:hover .expanded {
    display: inherit;
}

.hackingtool span {
    font-size: 1.2em;
    font-family: 'UnifrakturMaguntia', cursive; /* gothic text */
}

.cannotuse {
    opacity: 0.4;
}