{% extends 'home/index.html' %}
{% load static %}

{% block afterhead %}
    <link rel="stylesheet" href="{% static 'game/dialog.css' %}"/>
{% endblock %}

{% block content %}

    {% include 'game/continue_form.html' %}

    <section>
        <div class="zoom holoblue">

            {% if node.title %}
                <h2>{{ node.title }}</h2>
            {% endif %}
            {% if node.speaker %}
                <h2>{{ node.speaker }}: "</h2>
            {% endif %}

            <p> {{ node.text }} </p>

            {% if node.speaker %}
                <h3>"</h3>
            {% endif %}

            <!-- corner decal -->
            <svg class="cornerlower cornerright" height="100" width="100">
                <g transform="scale(-1,-1) translate(-100, -100)" >
                    {% include 'es_theme/svg/corner.html' %}
                </g>
            </svg>
        </div>
    </section>


    <!-- choices -->
    <section>
        {% for option in node.options.all %}
            {% include 'game/option.html' %}
        {% endfor %}
    </section>

    <!-- choices that lead to hacks -->
    <section>
        {% for option in node.hack_options.all %}
            {% include 'game/option.html' %}
        {% endfor %}
    </section>

{% endblock %}