{% extends 'home/index.html' %}
{% load static %}

{% block afterhead %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}"/>
    <script src="{% static 'game/hacking.js' %}"></script>
{% endblock %}


{% block content %}

    <!-- Providing data to the JS reprisentation of the game -->
    <script>
        var nodes_json = {{ nodes_json | safe }};
        var links_json = {{ links_json | safe }};
        var tools_json = {{ all_tools_json | safe }};
        var pickups_json = {{ pickups_json | safe }};
        var specialities_json = {{ specialities_json | safe }}
    </script>

    <div id="hackingarea" class="hackingarea">

        <!--links-->
        <svg>
            {% for link in links %}
                <line class="holored hackinglink"
                        data-nodes="{{link.node_from.short_name}} {{link.node_to.short_name}}"
                        x1="{{link.node_from.x_pos}}px"
                        y1="{{link.node_from.y_pos}}px" 
                        x2="{{link.node_to.x_pos}}px"
                        y2="{{link.node_to.y_pos}}px"/>
                <!--
                <ellipse class="holored" cx="{{link.node_to.x_pos}}" cy="{{link.node_to.y_pos}}" rx="5" ry="5" />
                <ellipse class="holored" cx="{{link.node_from.x_pos}}" cy="{{link.node_from.y_pos}}" rx="5" ry="5" />
                -->
            {% endfor %}
        </svg>

        <!--nodes-->
        {% for node in nodes %}
        <section id="{{node.short_name}}" class="hackingnode" style="left: {{node.x_pos}}; top:{{node.y_pos}}">

            <div class="holored zoom">
                <h3 class="holosectiontop">
                    {{ node.name }}
                </h3>
                <p>
                    {{node.text}}
                    <em>
                        {{ node.flavor_text}}
                    </em>
                </p>
                <div id="hackingterminals" class="hackingterminalarea">
                    <!-- player terminal -->
                    <div id="player" class="hackingterminal">
                        <div class="holoblue zoom">
                            <h3 id="name">
                                Terminal
                            </h3>
                        </div>
                    </div>
                    <!-- targeting terminal -->
                    <div id="target" class="hackingterminal">
                        <div class="holoblue zoom">
                            <h3 id="name">
                                <svg height="40" width="40">
                                    <g transform="scale(0.4,0.4)" >
                                        {% include 'game/svg/crosshair.html' %}
                                    </g>
                                </svg>
                            </h3>
                        </div>
                    </div>
                    <!-- enemy terminal -->
                    <div id="enemy" class="hackingterminal">
                        <div class="holored zoom">
                            <h3 id="name">
                                Phantom
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="holosectionbottom">
                    <p class="holosectionright">
                        <span id="alertlevel">{{ node.alert_level }}</span>+i(!)
                    </p>
                    <p class="holosectionright">
                        Pro <span id="protectionlevel">{{ node.protection_level }}</span>
                    </p>
                </div>
            </div>
        </section>
        {% endfor %}

    <!---/hacking area-->
    </div>

    {% include 'game/toolbar.html' %}

{% endblock %}