<!-- a bar of hacking tools -->

<section id="hackingtoolbar" class="bottombar">

    <div class="hackingcycles">
        <div class="holoblue zoom">
            <h3>
                <span id="cyclesavailable">10</span> 
            </h3>
            <p>
                Cycles<br/>Available
            </p>
        </div>
    </div>

    {% for tool in tools %}
    <button  id="{{tool.short_name}}" class="hackingtool">
        <div class="holoblue zoom">
            <h3 id="name">{{tool.name}}</h3>
            <p id="text" class="expanded">
                {{tool.text}}
                <em id="flavortext">{{tool.flavor_text}}</em>
            </p>
            <p>
                <span id="cyclescost">{{tool.cost}}</span> Cy;
                Atk <span id="attacklevel">{{tool.attack_level}}</span>;
                +<span id="alertlevel">{{tool.alert_level}}</span>(!)
            </p>
        </div>
    </button>
    {% endfor %}

</section>